

.navbar-container {
  /* background-color: #333; */
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(157, 157, 157, 0.5);
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: black;
  height: 64px;
  max-width: 1300px;
  margin: 0 auto;
  }

#company-name {
  font-size: 28px;
  font-weight: bold;
}
  
.navbar-logo ul,
.navbar-items ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Ensure list items are in a row */
  align-items: center; /* Align items vertically in the center */
}

.navbar-items{
  margin-right: 20px;
}

@media (max-width: 915px) {
  .navbar-item, #onboard-button{
    margin: 0;
  }
}

@media only screen and (max-width: 875px) {
  .nav-link{
    display: none;
  }
}

@media only screen and (max-width: 440px){
  .navbar-items{
    margin-right: 0px;
  }
  .navbar-logo{
    max-width: 10rem;
  }
}

@media only screen and (max-width: 480px){
  .navbar-item{
    margin: 0 !important;
  }
  .navbar{
    justify-content: space-around;
  }

  #company-name {
    font-size: 18px;
  }

}

@media only screen and (max-width: 335px){
  #onboard-button{
    font-size: 0.9rem;
  }
  /* #company-name{
    font-size: 1.1rem;
  } */
}
  
  .navbar-item {
    text-decoration: none;
    color: #4a5361;
    margin: 0px 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    
  }

  .navbar-item:hover {
    color: black;
  }
  
  #onboard-button {
    /* background-color: #AFD8F2; */
    /* background-color: #75c5f7; */
    background-color: #5f97ff;
    color: white;

    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 30px;
  }

  /* #onboard-button:hover {
    
  } */
  

